<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The TimeShip</title>
    <script type="text/javascript" src="https://sdk.userbase.com/1/userbase.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <!-- auth view -->
  <div id="auth-view">
    <h3>Go to 2026 on:</h3>
    <h1>Ruby's </h1>
    <h1>TimeShip⛵</h1>
    <form id="signup-form">
      <div>
        <input id="pasSword" type="password" required placeholder="pasSword">
        <br>
        <label>pasSword</label>
      </div>
      <div>
        <label htmlFor="emailLandingLocation">email (Landing Location)</label>
        <br>
        <input id="emailLandingLocation" type="text" required placeholder="rooftop@lillylabs.no">
      </div>
      <div>
        <label htmlFor="usernameSignUp">username</label>
        <br>
        <input id="usernameSignUp" type="text" required>
      </div>
      <br>
      <input type="submit" value="Let's Go to 2026 ⛵">
    </form>
    <div id="signup-error"></div>
  </div>
  <!-- application code -->
  <script type="text/javascript">
    userbase.init({ appId: "8af6f..." })

    function handleTimeShipSignUp(event) {
      e.preventDefault()

      const username = document.getElementById('usernameSignUp').value
      const email = document.getElementById('emailLandingLocation').value
      const password = document.getElementById('pasSword').value

      userbase.signUp({ username, email, password, rememberMe: 'none' })
        .then((user) => goToYear(user.username))
        .catch((event) => document.getElementById('signup-error').innerHTML = event)
    }
    function goToYear(user) {
        const successUrl = 'https://en.wikipedia.org/wiki/1554'
        const cancelUrl = 'http://localhost:8000/'
        if (!user.subscriptionStatus) {
            userbase.purchaseSubscription({ successUrl, cancelUrl });
            return
        }
    }
    document.getElementById('signup-form').addEventListener('submit',
      handleTimeShipSignUp)
  </script>
</body>
</html>




















